.body-height {
    min-height: 100vh
  }
  
  .logo {
    width: 20%
  }
  
  .forgot-username {
    text-decoration: underline; color: black
  }
  
  .alert-content {
    background-color: #FFDDD2
  }
  
  .alert-content-username {
    text-decoration: underline
  }
  
  .forgot-password {
    text-decoration: underline; color: black
  }
  
  .login-title {
    font-size: 30pt;
    font-family: 'nowaylight';
  }
  
  label {
    font-family: 'nowaylight';
    font-size: 16pt;
  }
  
  .btn-success {
    color: #000;
    padding-left: 38px;
    padding-right: 38px;
    border-radius: 2px;
    border-color: #84C000;
    background-color: #84C000;
  }
  
  .font-color {
    background-color: #f9f8f4;
  }
  
  input {
    border-radius: 2px;
    padding: 20px;
    border: solid 2px #dbdbdb;
  }
  
  .form-control:focus{
    border-color: #B0BEC5;
  }
  
  .checkbox{
    margin-left: -20px;
    margin-right: 15px;
  }
  
  .login-responsive {
    padding-left: 110px;
    padding-right: 110px;
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .login-responsive {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .login-responsive {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .login-responsive {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  
  